:root {
  --color-bg: #fdf6f2;
  --color-hl: #33272a;
  --color-pg: #594a4e;
  --color-btn: #eb6a88;
  --color-btn-txt: #33272a;
  --color-st: #33272a;
  --color-main: #fffffe;
  --color-num: #cc0000;
  --color-primary: #ff8ba7;
  --color-secondary: #ffc6c7;
  --color-tertiary: #c3f0ca;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "MyFont";
  src: url(../img/Brown-Regular.ttf);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: MyFont;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bg);
  min-height: 100vh;
}

h2 {
  font-size: 3rem;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__def {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--color-grey-light-4);
}
.popup .hide {
  display: none;
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 75%;
  background-color: var(--color-grey-light-1);
  display: table;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
.popup__title {
  font-size: 2rem;
  margin: 2rem 0 0 2rem;
}
.popup__item-box {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: center;
}
.popup__item-box img {
  width: 20%;
}
.popup__item-box input[type=checkbox] {
  cursor: pointer;
}
.popup__item-box > * {
  margin-right: 2rem;
}
.popup__item-box > *:last-child {
  margin-right: 0;
}
.popup__item-box button {
  padding: 0.5rem;
  border: none;
  background-color: var(--color-grey-light-3);
  cursor: pointer;
}
.popup__item-box button:hover {
  background-color: var(--color-grey-light-4);
}
.popup__item-box button:active {
  background-color: var(--color-grey-light-3);
}
.popup__total-div {
  display: flex;
  margin: 2rem;
  align-items: center;
  justify-content: right;
  font-size: 1.8rem;
}
.popup__total-div input[type=checkbox] {
  cursor: pointer;
}
.popup__total-div > * {
  margin-right: 2rem;
}
.popup__total-div > *:last-child {
  margin-right: 0;
}
.popup__total-div button {
  padding: 0.5rem;
  border: none;
  background-color: var(--color-grey-light-3);
  cursor: pointer;
}
.popup__total-div button:hover {
  background-color: var(--color-grey-light-4);
}
.popup__total-div button:active {
  background-color: var(--color-grey-light-3);
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: var(--color-grey-dark-1);
  position: absolute;
  right: 1rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: var(--color-secondary);
}

.header {
  width: 100%;
  font-size: 1.4rem;
  height: 7rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 0.1rem solid var(--color-grey-light-4);
  background-color: var(--color-bg);
  z-index: 30;
}

.logo {
  height: 3.5rem;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 1.5rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover > svg {
  fill: var(--color-grey-dark-3);
}
.user-nav > *:hover > p {
  color: var(--color-grey-dark-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__value {
  font-size: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: var(--color-num);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__hero {
  width: 100%;
  height: calc(100vh - 13rem);
  display: flex;
  justify-content: center;
}
.main__hero img {
  width: 70%;
  object-fit: cover;
  object-position: center top;
  height: 100%;
  padding: 2rem;
  background-color: var(--color-bg);
  filter: grayscale(30%);
}

.contents {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}
.contents img {
  width: 100%;
}
.contents .desc {
  margin: 1rem;
}
.contents .desc > * {
  margin-top: 0.5rem;
}
.contents button {
  width: 100%;
  border: none;
  padding: 0.5rem 0;
  background-color: var(--color-btn);
  color: var(--color-grey-light-2);
  cursor: pointer;
}
.contents button:hover {
  background-color: var(--color-secondary);
}
.contents .product {
  width: 50%;
  border: 0.25rem solid #aaa;
  margin: 1rem;
}

.topbar {
  background-color: var(--color-grey-dark-2);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-nav {
  font-size: 1.8rem;
  list-style: none;
  margin-top: 3.5rem;
  display: flex;
  margin: 0;
}
.top-nav__item {
  position: relative;
  flex: 1;
}
.top-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.top-nav__item:hover::before, .top-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.top-nav__item:active::before {
  background-color: var(--color-secondary);
}
.top-nav__link:link, .top-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
}

/*# sourceMappingURL=style.css.map */
