:root {
  --color-bg: #fdf6f2;
  --color-hl: #33272a;
  --color-pg: #594a4e;
  --color-btn: #ff8ba7;
  --color-btn-txt: #33272a;
  --color-st: #33272a;
  --color-main: #fffffe;
  --color-num: #cc0000;
  --color-primary: #ff8ba7;
  --color-secondary: #ffc6c7;
  --color-tertiary: #c3f0ca;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "MyFont";
  src: url(../img/Brown-Regular.ttf);
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: MyFont;
}

body {
  font-weight: 400;
  line-height: 1.6;
  background-color: var(--color-bg);
  min-height: 100vh;
}

h2 {
  font-size: 3rem;
}

.header {
  width: 100%;
  font-size: 1.4rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-bottom: 0.2rem solid var(--color-grey-light-4);
}

.logo {
  height: 3.5rem;
}

.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;
}
.user-nav > * {
  padding: 0 1.5rem;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
}
.user-nav > *:hover > svg {
  fill: var(--color-grey-dark-3);
}
.user-nav > *:hover > p {
  color: var(--color-grey-dark-2);
}
.user-nav__icon-box {
  position: relative;
}
.user-nav__icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: var(--color-grey-dark-2);
}
.user-nav__value {
  font-size: 1rem;
  height: 1.8rem;
  width: 1.8rem;
  border-radius: 50%;
  background-color: var(--color-num);
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__hero {
  width: 100%;
  height: calc(100vh - 13rem);
  display: flex;
  justify-content: center;
}
.main__hero img {
  width: 70%;
  object-fit: cover;
  object-position: center top;
  height: 100%;
  padding: 2rem;
  background-color: var(--color-bg);
  filter: grayscale(30%);
}

.contents {
  height: 90vh;
  margin: 4rem;
  display: flex;
  border: 2rem solid #ccc;
  justify-content: space-between;
}
.contents .description {
  width: 40%;
  margin: 2rem;
  font-size: 1.5rem;
}
.contents .description span {
  display: block;
  margin: 4rem 0;
}
.contents .items {
  height: 100%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
}
.contents .items img {
  height: 90%;
}
.contents .items .img1__shadow {
  transform: translate(-1.5rem, 0.5rem);
  z-index: 1;
}
.contents .items .img1 {
  top: 4rem;
  right: 6rem;
  transform: translate(27rem, 0);
  z-index: 10;
}

.topbar {
  background-color: var(--color-grey-dark-2);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-nav {
  font-size: 1.8rem;
  list-style: none;
  margin-top: 3.5rem;
  display: flex;
  margin: 0;
}
.top-nav__item {
  position: relative;
  flex: 1;
}
.top-nav__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: var(--color-primary);
  transform: scaleY(0);
  transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s;
}
.top-nav__item:hover::before, .top-nav__item--active::before {
  transform: scaleY(1);
  width: 100%;
}
.top-nav__item:active::before {
  background-color: var(--color-secondary);
}
.top-nav__link:link, .top-nav__link:visited {
  color: var(--color-grey-light-1);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5rem 3rem;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1.5rem 0.5rem;
}

/*# sourceMappingURL=style.css.map */
