.main__hero {
  width: 100%;
  height: calc(100vh - 13rem);
  display: flex;
  justify-content: center;

  img {
    width: 70%;
    object-fit: cover;
    object-position: center top;
    height: 100%;
    padding: 2rem;
    background-color: var(--color-bg);
    filter: grayscale(30%);
  }
}

.contents {
  margin: 2rem;
  display: flex;
  // border: 1rem solid #ccc;
  // align-items: center;
  justify-content: space-between;

  img {
    width: 100%;
  }

  .desc {
    margin: 1rem;

    & > * {
      margin-top: 0.5rem;
    }
  }

  button {
    width: 100%;
    border: none;
    padding: 0.5rem 0;
    background-color: var(--color-btn);
    color: var(--color-grey-light-2);
    cursor: pointer;

    &:hover {
      background-color: var(--color-secondary);
    }
  }

  .product {
    width: 50%;
    border: 0.25rem solid #aaa;
    margin: 1rem;
  }
}
