.main__hero {
  width: 100%;
  // height: calc(100vh - 13rem);
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    #fff 0%,
    #fff 200px,
    var(--color-line) 200px,
    var(--color-line) 100%
  );

  img {
    width: 100%;
    max-width: 1100px;
    object-fit: cover;
    object-position: center top;
    // height: 100%;
    padding-top: 2rem;
    background-color: #fff;
    filter: grayscale(30%);
  }
}

.contents {
  // margin: 2rem;
  // display: flex;
  // // border: 1rem solid #ccc;
  // // align-items: center;
  // justify-content: space-between;

  // grid-column: center-start / center-end;
  margin: 5rem 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;

  .desc {
    padding: 1rem;
    background-color: var(--color-main);

    & > * {
      margin-top: 0.5rem;
    }
  }

  .product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-row-gap: 3.5rem;
    // width: 50%;
    // max-width: 25rem;
    // border: 0.25rem solid #aaa;
    // margin: 1rem;
    background-color: #fff;

    img {
      width: 100%;
      margin: auto;
      // max-height: 200px;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 1;
    }

    button {
      grid-column: 1 / -1;
      width: 100%;
      border: none;
      padding: 1rem 0;
      background-color: var(--color-btn);
      color: var(--color-grey-light-2);
      cursor: pointer;

      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}

footer {
  width: 100%;
  text-align: center;
  // margin: 0.6rem 0 0.4rem;
  padding: 0.8rem;
  font-size: 1rem;
  background-color: var(--color-line);
  // color: var(--color-main);
}
