.main__hero {
  width: 100%;
  height: calc(100vh - 13rem);
  display: flex;
  justify-content: center;

  img {
    width: 70%;
    object-fit: cover;
    object-position: center top;
    height: 100%;
    padding: 2rem;
    background-color: var(--color-bg);
    filter: grayscale(30%);
  }
}

.contents {
  // margin: 2rem;
  // display: flex;
  // // border: 1rem solid #ccc;
  // // align-items: center;
  // justify-content: space-between;

  // grid-column: center-start / center-end;
  margin: 5rem 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 1rem;

  .desc {
    padding: 1rem;
    background-color: var(--color-main);

    & > * {
      margin-top: 0.5rem;
    }
  }

  .product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-row-gap: 3.5rem;
    // width: 50%;
    // max-width: 25rem;
    // border: 0.25rem solid #aaa;
    // margin: 1rem;

    img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 1;
    }

    button {
      grid-column: 1 / -1;
      width: 100%;
      border: none;
      padding: 1rem 0;
      background-color: var(--color-btn);
      color: var(--color-grey-light-2);
      cursor: pointer;

      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}
