.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // background-color: rgba($color-black, 0.8);
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(black, 0.3);
  }

  &__def {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color-grey-light-4);
  }

  &__input-value {
    width: 4rem;
  }

  .hide {
    display: none;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 75%;
    height: 75%;

    @media only screen and (min-width: 68.75em) {
      width: 55%;
    }
    background-color: var(--color-grey-light-1);
    // box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    display: table;
    // overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.5s 0.2s;

    span {
      font-size: 1.3rem;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__title {
    font-size: 2rem;
    margin: 2rem 0 1rem 2rem;
  }

  &__item-box {
    display: flex;
    margin: 2rem;
    align-items: center;
    // justify-content: center;
    justify-content: space-between;

    img {
      width: 20%;
    }

    div {
      width: 21rem;
    }

    input[type='checkbox'] {
      cursor: pointer;
    }

    & > * {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }

    button {
      padding: 0.5rem;
      border: none;
      background-color: var(--color-grey-light-3);
      cursor: pointer;

      &:hover {
        background-color: var(--color-grey-light-4);
      }

      &:active {
        background-color: var(--color-grey-light-3);
        // color: var(--color-grey-light-3);
      }
    }
  }

  &__total-div {
    display: flex;
    margin: 2rem;
    align-items: center;
    justify-content: right;
    font-size: 1.8rem;

    span {
      font-size: 1.8rem;
      font-weight: bold;
    }

    input[type='checkbox'] {
      cursor: pointer;
    }

    & > * {
      margin-right: 2rem;
      &:last-child {
        margin-right: 0;
      }
    }

    button {
      padding: 0.5rem;
      border: none;
      background-color: var(--color-grey-light-3);
      cursor: pointer;

      &:hover {
        background-color: var(--color-grey-light-4);
      }

      &:active {
        background-color: var(--color-grey-light-3);
        // color: var(--color-grey-light-3);
      }
    }
  }

  &__table {
    overflow: scroll;
    max-height: 44rem;
  }

  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;

  // Open states
  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: var(--color-grey-dark-1);
      position: absolute;
      // top: 2.5rem;
      right: 1rem;
      font-size: 3rem;
      text-decoration: none;
      display: inline-block;
      transition: all 0.2s;
      line-height: 1;
    }

    &:hover {
      color: var(--color-secondary);
    }
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
  font-size: 1.4rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
